[Desktop Entry]
Name=Qiv
Comment=Very fast image viewer for X Window
Comment[pl]=Bardzo szybka przegl±darka plików graficznych dla X Window
Exec=qiv %F
Icon=qiv.png
Terminal=0
Type=Application
