[Desktop Entry]
Name=Qiv
Comment=Very fast image viewer for X Window System
Comment[pl]=Bardzo szybka przeglądarka plików graficznych dla Systemu X Window
Exec=qiv %F
Icon=qiv.png
Terminal=false
Categories=GTK;Graphics;Viewer;
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
